<a href="https://colab.research.google.com/github/Marytem/NLP_project/blob/master/filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install python-rdkit librdkit1 rdkit-data

Reading package lists... Done
Building dependency tree
Reading state information... Done
librdkit1 is already the newest version (201603.5+dfsg-1ubuntu1).
python-rdkit is already the newest version (201603.5+dfsg-1ubuntu1).
rdkit-data is already the newest version (201603.5+dfsg-1ubuntu1).
0 upgraded, 0 newly installed, 0 to remove and 13 not upgraded.

In [0]:
from __future__ import print_function
from rdkit import Chem
import numpy as np
import pandas as pd

In [0]:
invalid_m = Chem.MolFromSmiles('CO(C)C')

In [0]:
invalid_m

In [0]:
valid_m = Chem.MolFromSmiles('C1ccccC1')

In [0]:
valid_m

In [0]:
init_data = pd.read_csv('preprocessed_smiles.csv', header=None, nrows=400000)
init_data.drop(0, axis=1, inplace=True)
init_data.head(5)

                                                   1
0                        Cc1cc(cn1C)c2csc(N=C(N)N)n2
1  CCC(C)C(NC(=O)C(CC(C)C)NC(=O)C(NC(=O)C(N)CCSC)...
2  CCCCC(NC(=O)C(CC(C)C)NC(=O)C(CCCCN)NC(=O)C(CCC...
3  CC(C)CC1NC(=O)CNC(=O)C(NC(=O)C(NC(=O)C(NC(=O)C...
4              Rc1cccc(Nc2ncnc3ccncc23)c1NCCN4CCOCC4

In [0]:
init_data.isna().sum()

1    0
dtype: int64

In [0]:
init_data.dropna(inplace=True)
init_data.head(5)

                                                   1
0                        Cc1cc(cn1C)c2csc(N=C(N)N)n2
1  CCC(C)C(NC(=O)C(CC(C)C)NC(=O)C(NC(=O)C(N)CCSC)...
2  CCCCC(NC(=O)C(CC(C)C)NC(=O)C(CCCCN)NC(=O)C(CCC...
3  CC(C)CC1NC(=O)CNC(=O)C(NC(=O)C(NC(=O)C(NC(=O)C...
4              Rc1cccc(Nc2ncnc3ccncc23)c1NCCN4CCOCC4

Decode:

In [0]:
init_data.replace(to_replace={"A" : "[nH]", "L" : "Cl","R" : "Br"}, inplace=True)

In [0]:
init_data[2] = pd.Series(data=list(map(Chem.MolFromSmiles, init_data[1])))

In [0]:
init_data[2].isna().sum()

142404

In [0]:
init_data.dropna(inplace=True)
init_data.head(5)

,1,2
0,Cc1cc(cn1C)c2csc(N=C(N)N)n2,<rdkit.Chem.rdchem.Mol object at 0x7f490c35b2f0>
5,COc1c(O)cc(O)c(C(=N)Cc2ccc(O)cc2)c1O,<rdkit.Chem.rdchem.Mol object at 0x7f490c35b3d0>
7,CC(=O)OC1C(OC(=O)C)C(=CC2OC(=O)C3(C)OC23C(OC(=...,<rdkit.Chem.rdchem.Mol object at 0x7f490c35b440>
8,CC(NC(=O)OCc1ccccc1)C(=O)NC(C)C(=O)NN(CC(=O)N)...,<rdkit.Chem.rdchem.Mol object at 0x7f490c35b4b0>
9,COC1CC(COCC2C(C)OC(CC2OC)OC3CCC4(C)C5CC(OC(=O)...,<rdkit.Chem.rdchem.Mol object at 0x7f490c35b520>

In [0]:
init_data.shape

(257596, 2)

In [0]:
init_data[1].to_csv('correct_data.csv')