In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('chembl_24_chemreps.txt',sep='\t')

In [3]:
df.describe()

,chembl_id,canonical_smiles,standard_inchi,standard_inchi_key
count,1820035,1820035,1820026,1820035
unique,1820035,1819490,1820026,1820035
top,CHEMBL21676,CN(C)N=Nc1[nH]cnc1C(=O)N,InChI=1S/C18H24N2O3S2/c1-2-10-24-11-5-8-19-17(...,KAELNCPCBLGJNR-WUXMJOGZSA-N
freq,1,3,1,1

In [4]:
df1 = df['canonical_smiles']

In [5]:
df1.describe()

count                      1820035
unique                     1819490
top       CN(C)N=Nc1[nH]cnc1C(=O)N
freq                             3
Name: canonical_smiles, dtype: object

In [6]:
text = "".join(df1)
print('corpus length:', len(text))
chars = sorted(list(set(text)))
print('total chars:', len(chars))

corpus length: 102623285
total chars: 56

In [7]:
df1.replace(to_replace={
    "nH" : "A",
    "Cl" : "L",
    "Br" : "R",
    "C@" : "C",
    "C@@" : "C",
    "C@H" : "C",
    "C@@H" : "C",
    "/" : "",
    '\\\\' : ""
},inplace=True, regex=True)
needed_symbs = 'CFLRIONSAcons123456789=#()'

In [8]:
text = "".join(df1)
print('corpus length:', len(text))
chars = sorted(list(set(text)))
print('total chars:', len(chars))

corpus length: 97740925
total chars: 54

In [9]:
df1 = df1.str.replace("[^CFLRIONSAcons123456789=#()]", "").str.strip()

In [10]:
text = "".join(df1)
print('corpus length:', len(text))
chars = sorted(list(set(text)))
print('total chars:', len(chars))

corpus length: 91498110
total chars: 26

In [11]:
df1.sample(4)

1410884    CCN(CC)S(=O)(=O)c1cccc(c1)C(=O)NN=Cc2ccc(O)c(O...
1762386    CCCCN1CCN(C(C)C1)C(=O)N2CC3=C(NNC3=NC(=O)c4ccc...
919757     COc1cccc(c1)C(=O)CN2C(=O)C(C)(C)Oc3ccc(cc23)C(...
763598     LOC1(CCN(CCCC(=O)c2ccc(F)cc2)CC1)c3cccc(c3)C(F...
Name: canonical_smiles, dtype: object

In [12]:
df1.to_csv('preprocessed_smiles.csv')